.add-product {
    margin-top: 30px;
}

.add-product * {
    padding: 15px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #63b120;
}

button:hover {
    background-color: #aae574;
}