.product-cell {
    flex: 0 0 100%;
    margin: 10px;
    padding: 5%;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
}

h1 {
    margin: 0px 0px 10px 0px;
}

p {
    margin: 0px 0px 5px;
}

.color-text {
    color: #63b120;
}